<html>
  <head>
    <link rel="stylesheet" href="../stylesheets/graficos.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>

  <h1 style = "color: white" >Digite uma hashtag</h1>
  <form action="#">
    <input type="text" id="hashtag">
    <input id="bt" type="submit">
  </form>

  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = google.visualization.arrayToDataTable([
        ['Task', 'Hashtags por País'],
        ['America do Norte', 8],
        ['America Central', 8],
        ['America do Sul',    7],
        ['Africa',      4],
        ['Asia',     11],
        ['Europa',  2],
        ['Oceania',  2]
      ]);
      

      var options = {
        title: 'Quantiade de Hashtags por País',
         titleTextStyle: {
            color: 'white'
        },
        backgroundColor: '222326',
        legend: {
          textStyle: {
            color: 'white'
          }
        }
      };

      var chart = new google.visualization.PieChart(document.getElementById('piechart'));

      chart.draw(data, options);
    }

      google.charts.load('current', {
        'packages':['geochart'],
        // Note: you will need to get a mapsApiKey for your project.
        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
        'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
          ['Country', 'Popularity'],
          ['Germany', 200],
          ['United States', 300],
          ['Brazil', 400],
          ['Canada', 500],
          ['France', 600],
          ['RU', 700]
        ]);

        var options = {
          backgroundColor: '222326', 
          legend: {
            textStyle: {
              color: 'white'
            }
          }
        };

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);


      }

      var bt = document.getElementById('bt');

      bt.addEventListener('click', function() {
        var hashtag = document.getElementById('hashtag').value;

        var websocket = new WebSocket('ws://localhost:1608/');
        websocket.onopen = function () {
          websocket.send('request');
        }

        websocket.onmessage = function (message) {
          var data = JSON.parse(message.data);
          console.log(data);
          addMarker({lat: data.lat, lng: data.lng}, map);
        }

        websocket.onerror = function () {
          console.log('error');
        }
      })
    </script>

  <body>
    <div id = "container" class = "container">
      <div id="piechart" class = "piechart" style="width: 500px; height: 250px;">

      </div>

      <div id="regions_div"  class = "regions_div"  style="width: 1200px; height: 500px;"></div>

    </div>
  </body>
</html>
