#markerlayer img[src='assets/pins/pin1.svg'] {
  animation: pulse .8s infinite alternate;
  -webkit-animation: pulse .8s infinite alternate;
  transform-origin: center;
  -webkit-transform-origin: center;
}

#markerlayer img[src='assets/pins/pin2.svg'] {
  animation: pulse .8s infinite alternate;
  -webkit-animation: pulse .8s infinite alternate;
  transform-origin: center;
  -webkit-transform-origin: center;
}

#markerlayer img[src='assets/pins/pin3.svg'] {
  animation: pulse .8s infinite alternate;
  -webkit-animation: pulse .8s infinite alternate;
  transform-origin: center;
  -webkit-transform-origin: center;
}

#markerlayer img[src='assets/pins/pin4.svg'] {
  animation: pulse .8s infinite alternate;
  -webkit-animation: pulse .8s infinite alternate;
  transform-origin: center;
  -webkit-transform-origin: center;
}

#markerlayer img[src='assets/pins/pin_bg1.svg'] {
    opacity: 0;
    animation: expand 5s
}

#markerlayer img[src='assets/pins/pin_bg2.svg'] {
    opacity: 0;
    animation: expand 5s
}

#markerlayer img[src='assets/pins/pin_bg3.svg'] {
    opacity: 0;
    animation: expand 5s
}

#markerlayer img[src='assets/pins/pin_bg4.svg'] {
    opacity: 0;
    animation: expand 5s
}

@keyframes expand {
    0% {
        transform: scale(1.1);
        opacity: 0.8;
    }
    100% {
        transform: scale(4.9);
        opacity: 0;
    }
}


@-webkit-keyframes pulse {
 40% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
 40% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulse {
  40% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}