body {
  margin: 0px;
  background-color: #03030a;
  font-family: 'Roboto', sans-serif;
}

html {
  margin: 0px;
}

#map {
  height: 450px;
  width: 55%;
  float: right;
}

.margin-top-5 {
  margin-top: 5px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.margin-left-20 {
  margin-left: 20px !important;
}

.header {
  background: #1a0000;
    border-bottom: 1px solid #330000;
  padding-top: 10px;
  padding-bottom: 10px;
}

.fluid {
  max-width: 100% !important;
}

.no-margin {
  margin: 0 !important;
}

.connect-bt {
  color: white;
  text-align: center;
  border: 1px solid white;
  display: inline-block;
  border-radius: 20px;
  float: right;
  width: 185px;
  margin-top: 5px;
  padding: 10px 15px 10px 15px;
}

body {
    background-color: #03030a;
}

.s-container {
  float: right;
  background-color: white;
  border-radius: 8px;
  border-style: solid;
  margin-top: 9px;
  margin-right: 10px;
}

.s-item {
  width: 38px;
  border-radius: 4px;
  float: right;
  margin: 4px;
}

.button {
  float: right;
  position: relative;
  border: 1px solid white;
  left: -35%;
  font-size: 17px;
  font-weight: 600;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
  width: 150px;
  text-align: center;
  -webkit-transition-duration: 0.2s; /* Safari */
  transition-duration: 0.2s;
}

.map {
  position: fixed !important;
  width: 100%;
  height: 100%;
  left: 0;
  overflow: hidden;
}

.active {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.65;
}

h1 {
  text-align: center;
  color: white !important;
  text-shadow: 2px 1px 14px red;
  font-weight: lighter !important;
}

h2 {
  text-align: justify;
  color: white !important;
  text-shadow: 2px 1px 14px red;
  font-weight: lighter !important;
}

.full{
  margin: auto; 
  min-width: 60%;
}

.description{
  position:absolute;  
  height: 540px;
}

.left-box{
  float: top;
  width: 40%;
  position: relative;
}

.right-box{
  float: bottom;
  width: 105%;
  position: relative;
  font-size: 12px;
}

.high {
  z-index: 15;
  position: relative;
}

.cta-image {
  width: 250px;
  display: block;
  margin: 0 auto;
}

.content-cta {
  margin-top: 50px;
}

.woodpecker-logo {
  width: 146px;
  position: absolute !important;
}

.dcc-logo {
  width: 340px;
  position: relative !important;
  -webkit-filter: saturate(2); filter: saturate(2);
  -webkit-filter: saturate(3); filter: saturate(3);
}

.darken {
  opacity: 0.8 !important;
  background-color: black !important;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: rgba(113, 34, 78, 0.18);
  margin: auto;
  padding: 20px;
  padding: 30px 20px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 10px;
  color: white;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
cursor: pointer;}

.text-center {
  text-align: center;
}

.icon {
  width: 150px;
}

.title {
  font-weight: 600;
  line-height: 20px;
  padding-right: 20px;
}

.subtitle {
  padding-right: 20px;
  font-size: 13px;
  color: #cccccc;
}

.input {
  border-radius: 23px !important;
  border: 1px solid #cccccc !important;
  background-color: transparent !important;
  box-shadow: none;
  height: 45px !important;
  background-image: url("../assets/pin.png");
  background-position: 12px 12px;
  background-repeat: no-repeat;
}

.find {
  height: 45px !important;
  border: 1px solid white !important;
  box-shadow: inset 1px 1px 20px -4px red ,2px 1px 50px -11px red !important;
  color: #cccccc;
  background-color: transparent !important;
  border-radius: 23px !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  text-shadow: 2px 1px 14px red !important;
  width: 130px;
  outline: none;
}

.find:hover {
  color: #cccccc;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.weight-500 {
  font-weight: 500;
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 1200px;
  *zoom: 1; 
}
.row:before, .row:after {
  content: " ";
  display: table; 
}
.row:after {
  clear: both; 
}
.row.collapse > .column,
.row.collapse > .columns {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  float: left;
}
.row.collapse .row {
  margin-left: 0;
  margin-right: 0;
}
.row .row {
  width: auto;
  margin-left: -0.9375em;
  margin-right: -0.9375em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  *zoom: 1;
}
.row .row:before, .row .row:after {
  content: " ";
  display: table; 
}
.row .row:after {
  clear: both; 
}
.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
  *zoom: 1;
}
.row .row.collapse:before, .row .row.collapse:after {
  content: " ";
  display: table;
}
.row .row.collapse:after {
  clear: both;
}

.columns {
  position: relative;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left;
  box-sizing: border-box;
}

.large-1 {
  position: relative;
  width: 8.33333%; 
}

.large-2 {
  position: relative;
  width: 16.66667%; 
}

.large-3 {
  position: relative;
  width: 25%; 
}

.large-4 {
  position: relative;
  width: 33.33333%; 
}

.large-5 {
  position: relative;
  width: 41.66667%; 
}

.large-6 {
  position: relative;
  width: 50%; 
}

.large-7 {
  position: relative;
  width: 58.33333%; 
}

.large-8 {
  position: relative;
  width: 66.66667%; 
}

.large-9 {
  position: relative;
  width: 75%; 
}

.large-10 {
  position: relative;
  width: 83.33333%; 
}

.large-11 {
  position: relative;
  width: 91.66667%; 
}

.large-12 {
  position: relative;
  width: 100%; 
}

.float-right {
  float: right !important;
}

.about-us {
  color: #fff;
  float: right;
  margin-right: 15px;
  margin-bottom: 10px;
  text-decoration: none;
}

footer {
  position: fixed;
  width: 100%;  
  bottom: 0;
}
