html {
  font-family: Source Sans Pro;
}

header {
  min-height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 2px groove #354558;
  background: #4a0404;
  z-index: 2;
}

.s-container {
  float: right;
  background-color: white;
  border-radius: 8px;
  border-style: solid;
  margin-top: 9px;
  margin-right: 10px;
}

.s-item {
  width: 38px;
  border-radius: 4px;
  float: right;
  margin: 4px;
}

.button {
  float: right;
  position: relative;
  border-style: solid;
  border-color: white;
  left: -35%;
  font-size: 17px;
  font-weight: 500;
  color: white;
  padding: 10px;
  border-radius: 8px;
  margin-top: 11px

}

body {
    background-color: #03030a;
}
